<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hasta.hastadrive">

    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
    </queries>

    <application
        android:label="Hasta Drive"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppName">
    </application>
</manifest>